<p>Received a new review from the site <%= link_to t('general.app_title'), root_url %></p>

<p>
  <b>User:</b><br>
  Name: <%= @user.name %><br>
  Email: <%= @user.email %><br>
</p>

<p>
  <b>Message:</b><br>
  <%= @message %>
</p>
