<h1>Тест <%= @passing_test.test.title %> завершен!</h1>

<% if @passing_test.sucsessful? %>
  <p>
    <strong>Правильных ответов: </strong>
    <span style="color: green"><%= @passing_test.success_rate %>%</span>
  </p>

  <p>Тест пройден!</p>
<% else %>
  <p>
    <strong>Правильных ответов: </strong>
    <span style="color: red"><%= @passing_test.success_rate %>%</span>
  </p>

  <p>Тест не пройден :(</p>
<% end %>

<p>
  <%= link_to 'К списку тестов', tests_path %>
</p>
