<div>
  <h1><%= link_to t('general.app_title'), root_path %> | <%= t('.admin_panel') %></h1>
  
  <div><%= t('general.greetings_html', name: current_user.name) %> | <%= link_to t('general.link_logout'), destroy_user_session_path, method: :delete %></div>
</div>
