<div>
  <br><strong><%= current_year %> </strong> |
  ©Dmitriy Oleynikov |
  <%= link_to 'TestGuru', 'https://github.com/odanetpro/test_guru', target: '_blank' %> |
  Это <%= link_to 'учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %> который позволяет создавать и проходить различные тесты.
</div>
