<div>
  <br><strong><%= current_year %> </strong> |
  <%= github_url 'Dmitriy Oleynikov', 'https://github.com/odanetpro/test_guru' %> |
  Это <%= link_to 'учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %> который позволяет создавать и проходить различные тесты.
</div>
