<footer class="text-center text-lg-start text-muted p-2 mt-auto" style="background-color: rgba(0, 0, 0, 0.05);">
  <div class="text-center p-4">
    <strong><%= current_year %></strong> |
    ©Dmitriy Oleynikov |
    <%= link_to 'TestGuru', github_url('odanetpro','test_guru'), target: "_blank" %> |
    <%= t('.about_html') %>
  </div>
</footer>
