<div>
  <h1><%= link_to 'ГУРУ В МИРЕ ТЕСТОВ', root_path %></h1>
  <% if user_signed_in? %>
    <div>Добро пожаловать, Гуру <b><%= current_user.name %></b> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %></div>
  <% end %>
</div>
