<div>
  <h1><%= link_to t('general.app_title'), root_path %></h1>
  <% if user_signed_in? %>
    <div><%= t('general.greetings_html', name: current_user.name) %>  | <%= link_to t('general.link_logout'), destroy_user_session_path, method: :delete %></div>
  <% end %>
</div>
