<h2>Вопрос</h2>
<p><%=  @answer.question.body %></p>

<p>
  <b>Ответ:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Правильный ответ:</b>
  <%= show_correct(@answer.correct) %>
</p>

<%= link_to 'К списку ответов', admin_question_path(@answer.question) %>
