<li><%= question.body %><br>
    <%= link_to t('.link_open'), admin_question_path(question) %> |
    <%= link_to t('.link_edit'), edit_admin_question_path(question) %> |
    <%= link_to t('.link_delete'),
                admin_question_path(question),
                method: :delete,
                data: { confirm: t('.confirm') } %>
</li>
