<%= form_with url: feedback_path, local: true do |form| %>
  <p>
    <%= form.text_area :message, class: 'form-control' %>
  </p>
  <p><%= form.submit t('.submit'), class: 'btn btn-primary' %></p>
<% end %>
